<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<!-- Add iotdetective.net website navigation header -->
<header class="desktop" id="header-desktop">
    <div class="header-wrapper">
        <div class="header-title">
            <a href="https://iotdetective.net/" title="IOTDetective"><img class="logo lazyautosizes lazyloaded" src="https://iotdetective.net/assets/logo-1-small.png" data-src="https://iotdetective.net/assets/logo-1-small.png" data-srcset="https://iotdetective.net/assets/logo-1-small.png, https://iotdetective.net/assets/logo-1-small.png 1.5x, https://iotdetective.net/assets/logo-1-small.png 2x" data-sizes="auto" alt="https://iotdetective.net/assets/logo-1-small.png" title="https://iotdetective.net/assets/logo-1-small.png" width="200" height="218" sizes="204px" srcset="https://iotdetective.net/assets/logo-1-small.png, https://iotdetective.net/assets/logo-1-small.png 1.5x, https://iotdetective.net/assets/logo-1-small.png 2x"></a>
        </div>
        <div class="menu">
            <div class="menu-inner"><a class="menu-item active" href="https://iotdetective.net"> Blog </a><a class="menu-item" href="/key/"> PGP Key </a><a class="menu-item" href="/posts/"> Archive </a><a class="menu-item" href="/tags/"> Tags </a><a class="menu-item" href="/categories/"> Categories </a><span class="menu-item delimiter"></span><a href="javascript:void(0);" class="menu-item theme-switch" title="Switch Theme">
                    <i class="fas fa-adjust fa-fw" aria-hidden="true"></i>
                </a></div>
        </div>
    </div>
</header>
<!-- end custom head snippets -->
