<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://resources.iotdetective.net; object-src 'none'; upgrade-insecure-requests; frame-ancestors 'none'">
<!-- end custom head snippets -->
